.container {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(43, 118, 170, 1);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container div {
  margin-bottom: 15px;
}

.container label {
  display: block;
  margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="number"],
.container textarea {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container textarea {
  resize: vertical;
}

.container button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.container a button {
  margin-left: 10px;
}
